* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Consolas, serif;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login-form h1 {
    font-size: 70px;
    text-align: center;
}

.login-form img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.login-form input {
    font-size: 16px;
    width: 60%;
}

.login-form button {
    position: absolute;
    transform: translate(-50%, 0);
}

